@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';

}
input{
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color:  #A1A1A1;
  font-weight: 400;
  font-size: 15px;
  border:1px solid #545454;
  width: 60%;
}
input:focus{
  outline: none;
  border-color: #545454;
}
.button{
  background-color: #E0001E;
  border-radius: 12.39px;
  font-family: 'Poppins';
  cursor: pointer;
  padding: 8px;
  color: #fff;
  font-weight: 800;
  width: 15%;
}
hr{
  color:#E0001E;
  height: 10px;
  width: 19%;
  background-color:#E0001E;
  margin:0 auto;

}
@media (max-width:720px) {
  hr{
      visibility: hidden;
      display: none;
  }

  input{
    width: 80%;
    color: #000000;
    font-weight: 500;
  }
  .button{
    display: inline-block;
    font-size: 14px;
    /* background-color:#C4C4C4; */
    width: 40%;
    text-align: center;
    margin: 0 auto;
  }
}